# Programming for Data Analysis   
# Semester 2 Project 2018
### Student:    David O'Brien
### Student ID: G00364766

### Creating a dataset

## Phenonmenon
Running statistics

### Identifying the variables
Date, Gender, Distance, Duration, Speed, Age

In [1]:
# Import modules
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

In [18]:
# Create a datetime index for a data frame. Adapted from: https://pandas.pydata.org/pandas-docs/stable/timeseries.html

# 5 years starting with midnight Jan 1st, 2012
rng = pd.date_range('1/1/2012', periods=(365*5))

In [19]:
rng

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10',
               ...
               '2016-12-20', '2016-12-21', '2016-12-22', '2016-12-23',
               '2016-12-24', '2016-12-25', '2016-12-26', '2016-12-27',
               '2016-12-28', '2016-12-29'],
              dtype='datetime64[ns]', length=1825, freq='D')

In [28]:
# Simulate some running data using numpy, using our datetime index.

import numpy as np
ts = pd.DataFrame(np.random.poisson(10, len(rng)), index=rng, columns=["Number of runs","Gender"]

SyntaxError: unexpected EOF while parsing (<ipython-input-28-f6844f132993>, line 4)

In [29]:
ts

            Number of runs
2012-01-01               9
2012-01-02               5
2012-01-03              15
2012-01-04               7
2012-01-05               6
2012-01-06              19
2012-01-07               6
2012-01-08              11
2012-01-09               9
2012-01-10              14
2012-01-11               6
2012-01-12               9
2012-01-13              13
2012-01-14              10
2012-01-15              14
2012-01-16               9
2012-01-17               5
2012-01-18              14
2012-01-19              10
2012-01-20               7
2012-01-21               8
2012-01-22              10
2012-01-23              10
2012-01-24              10
2012-01-25              11
2012-01-26              12
2012-01-27              12
2012-01-28               9
2012-01-29              10
2012-01-30              11
...                    ...
2016-11-30              14
2016-12-01               8
2016-12-02               8
2016-12-03              10
2016-12-04              13
2016-12-05               9
2016-12-06              14
2016-12-07              13
2016-12-08              13
2016-12-09              10
2016-12-10              16
2016-12-11               7
2016-12-12              15
2016-12-13              12
2016-12-14              12
2016-12-15               7
2016-12-16              10
2016-12-17               3
2016-12-18              13
2016-12-19               9
2016-12-20               7
2016-12-21              11
2016-12-22               5
2016-12-23              10
2016-12-24              14
2016-12-25               5
2016-12-26              15
2016-12-27              13
2016-12-28               8
2016-12-29              14

[1825 rows x 1 columns]

## References
1 - https://www.youtube.com/watch?v=3GpvWlVinf0

2 - https://realpython.com/python-random/

3 - https://arxiv.org/abs/0711.3199

4 - https://pandas.pydata.org/pandas-docs/stable/timeseries.html

5 - https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python

6 - https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/