# Programming for Data Analysis   
# Semester 2 Project 2018
### Student:    David O'Brien
### Student ID: G00364766

### Creating a dataset

## Phenonmenon
Running statistics

### Identifying the variables

In [1]:
# Import modules
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
import numpy as np

### Date

### Gender
random.choice

In [ ]:
# creating the gender data
gender = ['Male','Female']
results = np.random.choice(gender, 1000)
plt.hist(results)

### Distance

### Duration

### Speed

### Age

In [6]:
# create dataframe for variables Date, Gender, Distance, Duration, Speed, Age

# create the 'running' dataframe for 1000 different runs showing the gender for each run
# create the variable 'gender' for the data frame unising random.choice
running = pd.DataFrame(np.random.choice(gender,1000))

In [4]:
running

          0
0    Female
1      Male
2    Female
3    Female
4    Female
5    Female
6      Male
7    Female
8      Male
9    Female
10   Female
11     Male
12     Male
13   Female
14     Male
15     Male
16   Female
17   Female
18   Female
19     Male
20     Male
21     Male
22     Male
23   Female
24   Female
25     Male
26   Female
27     Male
28   Female
29     Male
..      ...
970  Female
971  Female
972    Male
973    Male
974  Female
975  Female
976  Female
977    Male
978  Female
979  Female
980  Female
981    Male
982  Female
983  Female
984    Male
985  Female
986  Female
987    Male
988  Female
989  Female
990  Female
991  Female
992    Male
993  Female
994    Male
995    Male
996    Male
997    Male
998    Male
999  Female

[1000 rows x 1 columns]

In [7]:
# add a column for distance

running['distance'] = 5

In [8]:
running

          0  distance
0      Male         5
1    Female         5
2    Female         5
3      Male         5
4      Male         5
5      Male         5
6      Male         5
7      Male         5
8    Female         5
9    Female         5
10     Male         5
11     Male         5
12   Female         5
13   Female         5
14   Female         5
15     Male         5
16     Male         5
17   Female         5
18     Male         5
19     Male         5
20   Female         5
21     Male         5
22     Male         5
23     Male         5
24   Female         5
25     Male         5
26   Female         5
27     Male         5
28   Female         5
29   Female         5
..      ...       ...
970    Male         5
971    Male         5
972    Male         5
973  Female         5
974    Male         5
975  Female         5
976    Male         5
977    Male         5
978    Male         5
979  Female         5
980    Male         5
981    Male         5
982    Male         5
983  Female         5
984  Female         5
985  Female         5
986    Male         5
987  Female         5
988  Female         5
989  Female         5
990  Female         5
991  Female         5
992    Male         5
993  Female         5
994  Female         5
995  Female         5
996  Female         5
997    Male         5
998  Female         5
999  Female         5

[1000 rows x 2 columns]

In [5]:
time = np.random.randn(10)
running.assign(timemin=time)

ValueError: Length of values does not match length of index

## References
1 - https://www.youtube.com/watch?v=3GpvWlVinf0

2 - https://realpython.com/python-random/

3 - https://arxiv.org/abs/0711.3199

4 - https://pandas.pydata.org/pandas-docs/stable/timeseries.html

5 - https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python

6 - https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/

7 - https://stackoverflow.com/questions/30026815/add-multiple-columns-to-pandas-dataframe-from-function

8 - https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.assign.html